<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_with(url: root_path, method: :get, local: true) do |f| %>
        <div class="row g-2">
        <%= hidden_field_tag :index, "true" %>
          <div class="col">
            <%= select_tag(:origin_id, options_for_select(@airport_options), prompt: "From ", required: true, class: "form-select") %>
          </div>

          <div class="col">
            <%= select_tag(:destination_id, options_for_select(@airport_options), prompt: "To ", required: true, class: "form-select") %>
          </div>

          <div class="col">
            <%= f.text_field :passengers, placeholder: "Passengers", class: "form-control" %>
          </div>

          <div class="col">
            <%= select_tag(:date, options_for_select(@date_options), prompt: "Date ", required: true, class: "form-select") %>
          </div>

          <div class="col">
            <%= submit_tag 'Find Flights', name: nil, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <br>
  <% if params.has_key?(:origin_id) %>
    <div class="container-fluid pt-5 mx-auto">
      <div class="row">
        <div class="col-md-9 offset-md-1">
          <table class="table">
            <thead>
              <th scope="col text-center">Departing From</th>
              <th scope="col">Arriving At</th>
              <th scope="col">Flight Duration</th>
              <th class="th-sm" scope="col">Departure Time</th>
              <th class="th-sm" scope="col"></th>
            </thead>
            <tbody>
              <% @flights.each do |flight| %>
                <%= form_with(url: root_path, method: :get, local: true) do |f| %>
                  <tr>
                    <td><%= flight.origin.city %></td>
                    <td><%= flight.destination.city %></td>
                    <td><%= flight.duration %> Minutes</td>
                    <td><%= flight.departure_time.strftime("%I:%M:%S %p") %></td>
                    <td colspan="1"><%= submit_tag 'Book Flight', name: nil, class: "btn btn-primary" %></td>
                  </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>