<%= @flight.inspect %>

<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <%= form_with(model: @booking, local: true) do |f| %>
        <div class="row g-2">
          <div class="col-md-6">
            <%= f.label :flight_id, "Flight Number", class: "form-label" %>
            <%= f.text_field :flight_id, value: params[:flight_id], readonly: true, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :date, class: "form-label" %>
            <%= f.text_field :date, value: params[:date], readonly: true, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :origin_city, "Outing Airport", class: "form-label" %>
            <%= f.text_field :origin_city, value: params[:origin_city], readonly: true, class: "form-control" %>
          </div>
          <div class="col-md-6">
            <%= f.label :destination_city, "Destination Airport", class: "form-label" %>
            <%= f.text_field :destination_city, value: params[:destination_city], readonly: true, class: "form-control" %>
          </div>

          <div class="col mt-3">
            <h4>Passenger Information</h4>
            <%= f.fields_for :passengers do |passenger_form| %>
              <div class="row g-3">
                <div class="col-md-6">
                  <%= passenger_form.label :name, class: "form-label" %>
                  <%= passenger_form.text_field :name, class: "form-control" %>
                </div>
                <div class="col-md-6">
                  <%= passenger_form.label :email, class: "form-label" %>
                  <%= passenger_form.text_field :email, class: "form-control" %>
                </div>
            <% end %>
          </div>

          <div class="row g-2">
            <div class="col-auto">
              <%= submit_tag 'Book Tickets', name: nil, class: "btn btn-primary" %>
            </div>
            <div class="col-md-1">
              <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>