
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <h1 class="text-center">Booking Information</h1>
        <div class="col-md-6 offset-md-4">
        <p class="fs-5">Outgoing: <%= @booking.origin_city %></p>
        <p class="fs-5">Destination: <%= @booking.destination_city %></p>
        <p class="fs-5">Date: <%= @booking.flight.date.strftime("%D") %></p>
        <p class="fs-5">Departure Time: <%= @booking.flight.departure_time.strftime("%I:%M:%S %p") %></p>
        <h4>Passenger Information</h4>
        <% @booking.passengers.each do |passenger| %>
          <p class="fs-5">Name: <%= passenger.name %> - Email: <%= passenger.email %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex justify-content-center mt-5">
    <%= image_tag("logo/biplane.png")%>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <h5 class="logo-font">Happy Flying</h5>
  </div>
</div>